<h1>Leads</h1>
<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Client Name</th>
      <th>Client Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.project_name %></td>
        <td><%= lead.client_name %></td>
        <td><%= lead.client_email %></td>
        <td>
  <div class="button-group">
  <%= link_to 'Edit', edit_lead_path(lead), method: :get, remote: true, class: 'btn btn-secondary', data: { toggle: 'modal', target: '#editLeadModal' } %>
  <%= link_to 'Delete', lead, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Add Phases', lead_phases_path(lead_id: lead.id), class: 'btn btn-primary' %>
</div>


      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'New Lead', new_lead_path, method: :get, remote: true, class: 'btn btn-primary', data: { toggle: 'modal', target: '#newLeadModal' } %>
<div class="modal fade" id="newLeadModal" tabindex="-1" role="dialog" aria-labelledby="newLeadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

  </div>
</div>


