<div class="container mt-4">
<%= form_with(url: leads_path, method: :get, class: "form-inline mt-4 mb-4") do |form| %>
  <%= form.text_field :query, class: "form-control mr-sm-2", placeholder: "Search Leads", value: params[:query] %>
  <%= form.submit "Search", class: "btn btn-primary my-2 my-sm-0" %>
  <%= link_to 'Clear', leads_path, class: 'btn btn-primary my-2 my-sm-0' %>
<% end %>

<h1 class="mb-4">Leads</h1>
<% if !@leads_with_details.nil? %>
  <div class="table-responsive">
  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Project Name</th>
        <th>Client Name</th>
        <th>Creation Date</th>
        <th>Client Email</th>
        <th>Sale</th>
        <th>Sale Date OR action</th>

      </tr>
    </thead>
    <tbody>
      <% @leads_with_details.each do |lead| %>

        <tr>
          <td><%= lead.project_name %></td>
          <td><%= lead.client_name %></td>
          <td><%= lead.created_at %></td>
          <td><%= lead.client_email %></td>

          <% if lead.sale %>
          <td>Lead Convert into Sale</td>
          <% elsif %>
          <td>
            <% if lead.phases.all?(&:completed) %>
              <%= form_with(model: lead, local: true) do |form| %>
  <%= form.check_box :sale %>
  <% if lead.sale? %>
    <%= form.hidden_field :sale_date, value: Date.current %>
  <% else %>
    <%= form.hidden_field :sale_date, value: nil %>
  <% end %>
  <%= form.submit 'Update Sale status' %>
<% end %>

            <% else %>

              <%= lead.sale %>
            <% end %>
          </td>

          <td>

            <div class="btn-group">
              <%= link_to 'Edit', edit_lead_path(lead), method: :get, remote: true, class: 'btn btn-secondary', data: { toggle: 'modal', target: '#editLeadModal' } %>
              <%= link_to 'Delete', lead, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Add Phases', lead_phases_path(lead_id: lead.id), class: 'btn btn-primary' %>
            </div>
          </td>
          <% end %>
           <% if lead.sale %>
          <td>Completed: <%= lead.sale_date %></td>
          <% end %>
       </tr>
      <% end %>


    </tbody>
  </table>
</div>
  </dl>

<% elsif @leads_search.nil? %>

<div class="table-responsive">
  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Project Name</th>
        <th>Client Name</th>
        <th>Creation Date</th>
        <th>Client Email</th>
        <th>Sale</th>
        <th>Sale Date OR action</th>

      </tr>
    </thead>
    <tbody>
      <% @leads.each do |lead| %>

        <tr>
          <td><%= lead.project_name %></td>
          <td><%= lead.client_name %></td>
          <td><%= lead.created_at %></td>
          <td><%= lead.client_email %></td>

          <% if lead.sale %>
          <td>Lead Convert into Sale</td>
          <% elsif %>
          <td>
            <% if lead.phases.all?(&:completed) %>
              <%= form_with(model: lead, local: true) do |form| %>
  <%= form.check_box :sale %>
  <% if lead.sale? %>
    <%= form.hidden_field :sale_date, value: Date.current %>
  <% else %>
    <%= form.hidden_field :sale_date, value: nil %>
  <% end %>
  <%= form.submit 'Update Sale status' %>
<% end %>

            <% else %>

              <%= lead.sale %>
            <% end %>
          </td>

          <td>

            <div class="btn-group">
              <%= link_to 'Edit', edit_lead_path(lead), method: :get, remote: true, class: 'btn btn-secondary', data: { toggle: 'modal', target: '#editLeadModal' } %>
              <%= link_to 'Delete', lead, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Add Phases', lead_phases_path(lead_id: lead.id), class: 'btn btn-primary' %>
            </div>
          </td>
          <% end %>
           <% if lead.sale %>
          <td>Completed: <%= lead.sale_date %></td>
          <% end %>
       </tr>
      <% end %>


    </tbody>
  </table>
</div>
<%= button_to 'New Lead', new_lead_path, method: :get, remote: true, class: 'btn btn-primary mt-4', data: { toggle: 'modal', target: '#newLeadModal' } %>


<div class="modal fade" id="newLeadModal" tabindex="-1" role="dialog" aria-labelledby="newLeadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

 <% end %>
 <%= paginate @leads %>
<div>
