<div class="container mt-4">
<%= render 'search_form' %>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="mb-4">Leads</h1>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Client Name</th>
        <th>Client Contact</th>
        <th>Client Email</th>
        <th>Sale</th>
        <th>action</th>
        <th>Sale Date</th>
      </tr>
    </thead>
    <tbody>
      <% @leads.each do |lead| %>
        <% presenter = LeadPresenter.new(lead) %>
        <tr>
          <td><%= presenter.project_name %></td>
          <td><%= presenter.client_name %></td>
          <td><%= presenter.client_contact %></td>
          <td><%= presenter.client_email %></td>

          <td>
            <% if presenter.all_phases_completed? %>
              <%= form_with(model: lead, local: true, method: :patch) do |form| %>
                <%= form.check_box :sale %>
                <% if presenter.sale? %>
                  <%= form.hidden_field :sale_date, value: Date.current %>
                  <%= presenter.sale_status %>
                <% else %>
                  <%= form.hidden_field :sale_date, value: nil %>
                   <%= form.submit 'Update Sale status' %>
                <% end %>

              <% end %>
            <% else %>
              <%= presenter.sale_status %>
            <% end %>
            </td>
            <td>
            <div class="btn-group">
                  <%= link_to 'Edit', edit_lead_path(lead), method: :get, remote: true, class: 'btn btn-secondary', data: { toggle: 'modal', target: '#editLeadModal' } %>
                  <%= link_to 'Delete', lead, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
                  <%= link_to 'Show', lead_path(lead), method: :get, class: 'btn btn-danger' %>
                  <%= link_to 'Add Phases', lead_phases_path(lead_id: lead.id), class: 'btn btn-primary' %>
                </div>
          </td>
          <td><%= presenter.completed_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @leads %>
   <%= button_to 'New Lead', new_lead_path, method: :get, remote: true, class: 'btn btn-primary mt-4', data: { toggle: 'modal', target: '#newLeadModal' } %>


<div class="modal fade" id="newLeadModal" tabindex="-1" role="dialog" aria-labelledby="newLeadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
</div>

</div>
