<div class="container mt-4">
<%= render 'search_form' %>
<h1 class="mb-4">Phases</h1>
<div class="table-responsive">
  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Phase Type</th>
        <th>Completed</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @phases.each do |phase| %>

        <tr>
          <td><%= phase.phase_type %></td>
          <td><%= phase.completed %></td>

          <td>

            <div class="btn-group">
              <%= link_to 'Edit', edit_lead_phase_path(phase.lead, phase), remote: true, class: 'btn btn-secondary', data: { toggle: 'modal', target: '#editPhaseModal' } %>
              <%= link_to 'show',  lead_phase_path(phase.lead, phase), class: 'btn btn-primary' %>
              <%= link_to 'Delete', lead_phase_path(phase.lead, phase), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= button_to 'New Phase', new_lead_phase_path, method: :get, remote: true, class: 'btn btn-primary mt-4', data: { toggle: 'modal', target: '#newPhaseModal' } %>


<div class="modal fade" id="newPhaseModal" tabindex="-1" role="dialog" aria-labelledby="newPhaseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<%= paginate @phases %>
<div>
