<h1>Phase Details</h1>

<div>
  <strong>Phase Type:</strong>
  <%= @phase.phase_type %>
</div>

<div>

  <p>Start Date: <%= @decorated_phase.formatted_start_date %></p>
</div>

<div>
  <strong>Due Date:</strong>
  <%= @phase.due_date %>
</div>



<div>
  <strong>Creation Date:</strong>
  <%= @phase.creation_date %>
</div>

<div>
  <strong>Completed:</strong>
  <%= @phase.completed ? 'Yes' : 'No' %>
</div>

<div>
  <strong>Completed Date:</strong>
  <%= @phase.completed_date %>
</div>
<h2>Comments:</h2>
<%= render partial: "comments/comments", locals: { commentable: @phase } %>
<%= render partial: "comments/form", locals: { commentable: @phase } %>
