<h1>Phase Details</h1>

<div>
  <strong>Phase Type:</strong>
  <%= @phase.phase_type %>
</div>

<div>
  <strong>Start Date:</strong>
  <%= @phase.start_date %>
</div>

<div>
  <strong>Due Date:</strong>
  <%= @phase.due_date %>
</div>

<div>
  <strong>Comments:</strong>
  <%= @phase.comments %>
</div>

<div>
  <strong>Creation Date:</strong>
  <%= @phase.creation_date %>
</div>

<div>
  <strong>Completed:</strong>
  <%= @phase.completed ? 'Yes' : 'No' %>
</div>

<div>
  <strong>Completed Date:</strong>
  <%= @phase.completed_date %>
</div>
